.heading-2 {
  color: #0e0e0e;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 2vw;
  font-weight: 500;
  line-height: 120%;
}

.heading-3 {
  width: 80%;
  color: #474747;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
  font-family: Inter, sans-serif;
  font-size: 1.3vw;
  font-weight: 400;
  line-height: 130%;
}

.body {
  font-family: Inter, sans-serif;
}

.section {
  padding: 50px 80px;
}

.heading {
  color: #0e0e0e;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Inter, sans-serif;
  font-size: 3vw;
  font-weight: 600;
  line-height: 120%;
}

.text-span, .text-span-2 {
  color: #de2e21;
}

.text-span-3 {
  color: #de2e21;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
}

.image {
  width: 25%;
  margin-bottom: 20px;
}

.section-2 {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  border-top-color: #dadada;
  padding: 30px 80px;
}

.div-block-2 {
  padding-left: 0;
  padding-right: 0;
}

.text-block-2 {
  text-align: center;
}

.text-block {
  color: #de2e21;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: .8vw;
  font-weight: 400;
  line-height: 120%;
}

.image-2 {
  width: 50%;
  display: block;
}

.div-block-3 {
  background-color: #f5f7f9;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  display: flex;
}

.div-block-4 {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

@media screen and (max-width: 991px) {
  .heading-3 {
    margin-bottom: 20px;
    font-size: 1.5vw;
  }

  .section {
    padding: 40px;
  }

  .image {
    width: 40%;
  }

  .section-2 {
    padding: 20px 40px;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .text-block {
    font-size: 1vw;
  }

  .image-2 {
    width: 70%;
  }

  .div-block-3 {
    padding: 30px;
  }
}

@media screen and (max-width: 767px) {
  .heading-2 {
    font-size: 2.8vw;
  }

  .heading-3 {
    font-size: 2vw;
  }

  .section {
    padding: 30px 40px;
  }

  .heading {
    font-size: 3.4vw;
  }

  .section-2 {
    position: static;
  }

  .text-block {
    font-size: 1.5vw;
  }

  .image-2 {
    width: 60%;
  }

  .div-block-3 {
    padding: 25px;
  }
}

@media screen and (max-width: 479px) {
  .heading-2 {
    font-size: 4vw;
  }

  .heading-3 {
    width: 90%;
    font-size: 3.7vw;
  }

  .section {
    padding: 30px 20px;
  }

  .heading {
    margin-bottom: 20px;
    font-size: 6vw;
  }

  .image {
    width: 60%;
  }

  .section-2 {
    margin-top: 0;
    position: absolute;
  }

  .text-block {
    font-size: 3vw;
  }

  .image-2 {
    width: 100%;
  }

  .div-block-3 {
    padding: 20px 15px;
  }
}


